<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331739588459-l73tbpeqdap3sv3ocdh2ba888r7i7hh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331739588459-l73tbpeqdap3sv3ocdh2ba888r7i7hh3</string>
	<key>API_KEY</key>
	<string>AIzaSyBm6e7duU2jkFo0_Aa7c6lUHo-Qo6iU5a4</string>
	<key>GCM_SENDER_ID</key>
	<string>331739588459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MuhammetMidilli.FourSquareCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>foursquareclonefirebase-543f0</string>
	<key>STORAGE_BUCKET</key>
	<string>foursquareclonefirebase-543f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331739588459:ios:8734288903484906810e2e</string>
</dict>
</plist>